@import '~antd/dist/antd.css';

body {
  background-color: #f0f2f5;
}

.ant-layout-header {
  background-color: #fff;
}

.ant-breadcrumb {
  padding-left: 25px;
}

.ant-form {
  background-color: white;
  padding: 25px;
}

.App {
  display: flex;
  justify-content: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.navbar {
  background: blueviolet;
  padding: 15px;
}

.navbar ul {
  display: flex;
  justify-content: baseline;
  list-style-type: none;

}

.navbar ul li a {
  text-decoration: none;
  color: white;
  padding: 12px 18px;
}

.card-dash, h3 {
  background-color: #1890ff;
  color: white;
  line-height: 12px;
}